*~
debian-sources/*/*/config/config.guess
debian-sources/*/*/config/config.sub
debian-sources/*/*/lib/expr/Makefile.orig
debian-sources/*/*/lib/sfio/Makefile.orig
*.dsc
.*.swp
*.tar.gz
*.build
*.changes
*.ppa.upload
debian-sources/*/*/debian/changelog
